:root {
    --Inter: 'Inter-Variable';
    --PressStart2P: 'PressStart2P-Regular';
    --accent-font-size: 0.875rem;
    --thin: 400;
    --bold: 700;
    --background-color: white;
    --transform-time: 0.3s;
    --transition-function: ease;
    --contour-color: black;
    --filling-color: red;
    --accent-color: black;
    --main-color: black;
    --background-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
      }
  